@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0 solid transparent;
}

body {
  margin: 1.5em;
  line-height: 1;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-family: "Poppins", sans-serif;
}

img,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  line-height: inherit;
  color: inherit;
}

button,
[role=button] {
  cursor: pointer;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
}
button:focus,
[role=button]:focus {
  outline: 0;
}

a {
  cursor: pointer;
  color: inherit;
  font-size: 1.3rem;
  text-decoration: inherit;
  -webkit-tap-highlight-color: transparent;
}

ol,
ul {
  list-style: none;
}

.overlay {
  inset: 0;
  z-index: 100;
  height: 100vh;
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7411764706);
  transition: all 500ms ease-out;
}

.overlay.active {
  display: flex;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .header__logo-link {
  color: #fff;
  font-weight: bold;
  font-size: calc(2rem + (1vw - 0.93rem) * 1);
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
}
.header .header__logo-link span {
  color: #6ECFE1;
}
.header .header__navigation {
  top: 0;
  right: 0;
  width: 65%;
  z-index: 999;
  height: 100vh;
  position: fixed;
  text-transform: uppercase;
  background-color: #fff;
  transform: translateX(100%);
  transition: transform 500ms ease-in-out;
}
.header .header__navigation .header__menu-icon-close {
  margin: 7%;
  width: 2.5em;
  float: right;
  cursor: pointer;
}
.header .header__navigation .header__list {
  padding: 0 1em;
  margin-top: 8em;
}
.header .header__navigation .header__list .header__link {
  display: block;
  color: #000;
  padding: 0.75em 2em;
}
.header .header__navigation .header__list .header__link:hover {
  border-radius: 30px;
  background-color: rgb(235, 235, 235);
}
.header .header__menu-icon-open {
  width: 2em;
  display: block;
  cursor: pointer;
}

.hero {
  height: 90vh;
  color: #fff;
}
.hero .hero__image {
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  position: absolute;
  background-size: cover;
  background-position: 20%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)), url("/assets/images/lady-wearing-a-yellow-jumpsuit.jpg");
}
.hero .hero__content {
  opacity: 0;
  margin-top: -2em;
  animation: heroDown 2000ms ease forwards;
}
.hero .hero__content .hero__heading {
  margin-top: 3em;
  font-weight: bold;
  font-size: 2.6rem;
  margin-bottom: 1em;
  line-height: 2.8rem;
}
.hero .hero__content .hero__heading span {
  color: #6ECFE1;
}
.hero .hero__content .hero__paragraph {
  line-height: 1.5;
  font-size: 1.2rem;
}
.hero .hero__icon-svg {
  width: 1em;
  bottom: 2em;
  position: absolute;
  animation-delay: 10000ms;
  animation: moveArrow 1000ms ease alternate-reverse infinite;
}
.hero .hero__icon-svg path {
  fill: #fff;
}

.feature-card {
  margin-block: 5em;
}
.feature-card .feature-card__image {
  width: 100%;
  height: 30em;
  -o-object-fit: cover;
     object-fit: cover;
}
.feature-card .feature-card__title {
  font-weight: bold;
  margin-block: 1.7em;
  font-size: 1.25rem;
}
.feature-card .feature-card__description {
  line-height: 1.5;
  letter-spacing: 1px;
}

.footer {
  left: 0;
  width: 100%;
  padding: 2.5em 0 0;
  position: absolute;
  background-color: #fafafa;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
}
.footer__heading {
  width: 90%;
  margin: 0 auto;
  max-width: 1010px;
  margin-bottom: 3rem;
}
.footer__heading span {
  color: #6ECFE1;
}
.footer .subscribe-section {
  grid-column: 1/span 12;
  grid-row: 1;
  margin-block: 5em;
}
.footer .subscribe-section .subscribe-content {
  max-width: 600px;
  margin: 0 auto;
}
.footer .subscribe-section .subscribe-content .subscribe-title {
  font-size: 24px;
  margin-bottom: 10px;
}
.footer .subscribe-section .subscribe-content .subscribe-description {
  color: #777;
  margin: 1.3em auto;
  line-height: 1.5;
}
.footer .subscribe-form {
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .subscribe-form .subscribe-form__input {
  width: 300px;
  padding: 10px;
  outline: none;
  margin-block: 1em;
  border-radius: 4px;
  border: 1px solid #ccc;
}
.footer .subscribe-form .subscribe-form__input:focus {
  border: 2.5px solid #000;
}
.footer .subscribe-form .subscribe-form__button {
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 20px;
  background-color: #333;
}
.footer__content {
  display: flex;
  justify-content: space-evenly;
  margin: 1.5rem;
}
.footer__content p {
  margin-bottom: 3.3em;
  color: rgba(0, 0, 0, 0.829);
}
.footer__content a {
  font-size: 1rem;
  text-decoration: none;
  transition: all 250ms ease;
  color: rgba(0, 0, 0, 0.829);
}
.footer__content a:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 0.829);
}
.footer__content h4 {
  margin-bottom: 2.3em;
  font-size: 19px;
}
.footer__footer {
  padding: 0 2.5em;
  text-align: center;
  margin-bottom: 1em;
}
.footer__footer-hr {
  height: 1px;
  margin: 2rem 0;
  background-color: #777;
}
.footer__footer-a {
  color: inherit;
  font-size: 1rem;
  text-decoration: none;
  transition: all 500ms ease;
}
.footer__footer-a:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 0.829);
}
@media (max-width: 767px) {
  .footer__content {
    gap: 3em;
    display: flex;
    flex-direction: column;
  }
  .footer p {
    margin-bottom: 2.5em;
  }
  .footer .subscribe-content {
    padding-inline: 1em;
  }
}

.open-nav {
  transform: translateX(0) !important;
}

@media only screen and (min-width: 40.5em) {
  body {
    margin: 1.5em 5em;
  }
}
@media only screen and (min-width: 50em) {
  .header__menu-icon {
    display: none;
  }
  .header__navigation {
    display: flex;
    display: block;
    align-items: center;
    height: 2em !important;
    width: unset !important;
    background: none !important;
    position: absolute !important;
    transform: translateX(0) !important;
  }
  .header__navigation .header__list {
    display: flex;
    align-items: center;
    margin-top: 1em !important;
    justify-content: space-evenly;
  }
  .header__navigation .header__list .header__link {
    gap: 0.2em;
    font-size: 1rem;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: #fff !important;
    display: flex !important;
    background: none !important;
    padding: 0.75em 1em !important;
  }
  .header__navigation .header__list .header__link::after {
    height: 3px;
    width: 0px;
    content: "";
    border-radius: 30px;
    background-color: #fff !important;
    transition: width 500ms ease;
  }
  .header__navigation .header__list .header__link:hover::after {
    width: 50px !important;
  }
  .hero {
    display: grid;
    place-items: center;
  }
  .hero .hero__content {
    width: 80%;
    text-align: center;
  }
  .hero .hero__content .hero__heading {
    margin-top: 1em;
    line-height: 4rem;
    font-size: 3.7rem;
    margin-bottom: 0.2em;
  }
  .hero .hero__content .hero__paragraph {
    line-height: 1.3;
  }
  .feature__grid-container .feature-card {
    gap: 3em;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, auto);
  }
  .feature__grid-container .feature-left {
    grid-template-areas: "left right";
  }
  .feature__grid-container .feature-left .feature-card__image {
    grid-area: right;
  }
  .feature__grid-container .feature-left .feature-card__content {
    grid-area: left;
    text-align: right;
  }
  .feature__grid-container .feature-card__content {
    width: 20em;
  }
}
@media only screen and (min-width: 80.75em) {
  .header {
    top: 0;
    left: 0;
    right: 0;
    height: 4em;
    position: absolute;
    padding-inline: 3%;
  }
  .header .header__logo-link {
    font-weight: bold;
    color: #000 !important;
  }
  .hero {
    place-items: unset;
    align-items: center;
  }
  .hero .hero__image {
    top: 0;
    right: 0;
    width: 50%;
    left: unset;
    height: 100vh;
    background-image: url("/assets/images/lady-wearing-a-yellow-jumpsuit.jpg");
  }
  .hero .hero__content {
    width: 35%;
    color: #000;
    text-align: left;
    margin-top: 4em !important;
  }
  .hero .hero__content .hero__heading {
    line-height: 1.3;
    font-size: 2.4rem;
    margin-bottom: 0.7em;
  }
  .hero .hero__content .hero__paragraph {
    font-size: 0.9rem;
  }
  .hero .hero__icon-svg path {
    fill: #000;
  }
  .feature__grid-container .feature-card {
    gap: 3em;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, auto);
  }
  .feature__grid-container .feature-left {
    grid-template-areas: "left right";
  }
  .feature__grid-container .feature-left .feature-card__image {
    grid-area: right;
  }
  .feature__grid-container .feature-left .feature-card__content {
    grid-area: left;
    text-align: right;
  }
  .feature__grid-container .feature-card__image {
    height: 30em;
  }
  .feature__grid-container .feature-card__content {
    width: 30em;
  }
}
@media only screen and (min-width: 93.75em) {
  .wrapper {
    width: 100em;
    margin: 0 auto;
  }
  .header {
    padding-inline: 10%;
  }
  .header .header__list {
    display: flex;
    align-items: center;
    padding: 0 3em !important;
    justify-content: space-evenly;
  }
  .header .header__list .header__link {
    color: #000 !important;
  }
  .header .header__list .header__link::after {
    background-color: #000 !important;
  }
  .hero {
    margin-top: 5em;
    position: relative;
  }
  .hero .hero__paragraph {
    font-size: 1.2rem !important;
  }
}
@keyframes moveArrow {
  from {
    transform: translateY(-30px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes heroDown {
  from {
    transform: translateY(-200px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}/*# sourceMappingURL=main.css.map */